.add-more{
    display: flex;
    flex-direction: row;
    background: url('../../../assets/images/image-nominate.png') center center no-repeat;
    background-size: cover;
    position: relative;
    min-height: 80px;
    padding: 10px 20px;

    @media (max-width: 768px){
        flex-direction: column;
        text-align: center;
    }

    &:before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.7);
        z-index: 1;
    }

    &__description{
        font-weight: 300;
        color: var(--dark);
        font-size: 1.875rem;
        width: 100%;
        position: relative;
        z-index: 2;
        align-self: center;

        p{
            margin: 0;
        }
    }

    &__button{
        font-weight: normal;
        color: var(--dark);
        font-size: 1.25rem;
        border: 3px solid var(--dark);
        text-align: center;
        min-height: 50px;
        min-width: 205px;
        max-width: 205px;
        background: transparent;
        outline: none;
        position: relative;
        z-index: 2;
        margin-left: 20px;
        align-self: center;
        cursor: pointer;
        transition: all .2s linear;

        &:hover{
            background: rgba(255, 255, 255, 0.6);
        }

        @media (max-width: 768px){
            margin-left: 0;
            margin-top: 15px;
        }
    }
}