.voting-section{
    padding-top: 35px;

    &__title{
        margin-top: 35px;
        margin-bottom: 35px;
        font-weight: 300;
        font-size: 2.5rem;

        @media (max-width: 768px){
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }
}

.voting-grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}