.invitation{
    width: 100%;
    min-height: 100px;
    background-color: var(--base);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding: 20px 30px;

    @media (max-width: 768px){
        padding: 10px 15px;
        flex-direction: column;
    }

    &__title{
        display: flex;
        flex-direction: column;
        text-align: center;
        min-width: 200px;
        margin-right: 15px;
        justify-content: center;

        @media (max-width: 768px){
            margin-bottom: 10px;
            margin-right: 0;
        }

        p{
            font-size: 1.313rem; 
            margin: 0;
            font-weight: 300;
            color: var(--dark);
            margin-bottom: -5px;
        }

        strong{
            font-size: 2.313rem;
            color: var(--dark);
        }
    }

    &__description{
        font-weight: 300;
        color: var(--dark);
        align-self: center;
        font-size: 0.938rem;

        @media (max-width: 768px){
            text-align: center;
        }
    }

    &__close{
        max-width: 17px;
        max-height: 17px;
        align-self: center;
        margin-left: 15px;

        @media (max-width: 768px){
            order: -1;
            align-self: flex-end;
        }
    }
}