.item-list{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-width: calc(50% - 20px);
    max-width: calc(50% - 20px);
    min-height: 550px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 40px 40px 0;
    position: relative;
    margin-bottom: 40px;
    overflow: hidden;

    @media (max-width: 768px){
        min-width: 100%;
        max-width: 100%;
        min-height: 400px;
        margin-bottom: 20px;
    }

    &:before{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: linear-gradient(0deg, rgba(51,51,51,1) 0%, rgba(51,51,51,1) 53%, rgba(238,66,66,0) 100%, rgba(18,30,108,1) 333333%);
    }

    &__name{
        color: var(--light);
        font-size: 2.813rem;
        font-weight: normal;
        margin: 0;
        position: relative;
        z-index: 2;
    }

    &__name-with-trend{
        &:before{
            content: "";
            position: absolute;
            left: -40px;
            bottom: 10px;
            width: 30px;
            height: 30px;
            background-size: 18px auto;
            background-position: center center;
            background-repeat: no-repeat;
        }

        &--like{
            &:before{
                background-color: var(--primary);
                background-image: url('../../../assets/images/icon-like.png');
            }
        }

        &--dislike{
            &:before{
                background-color: var(--secondary);
                background-image: url('../../../assets/images/icon-dislike.png');
            }
        }
    }

    &__date{
        color: var(--light);
        font-size: 0.75rem;
        font-weight: normal;
        margin: 0 0 20px;
        position: relative;
        z-index: 2;
    }

    &__description{
        color: var(--light);
        font-size: 1rem;
        font-weight: 300;
        margin: 0 0 20px;
        position: relative;
        z-index: 2;
    }

    &__thank-you{
        color: var(--light);
        font-size: 1rem;
        font-weight: 300;
        margin: 0 0 20px;
        position: relative;
        z-index: 2;
    }

}