.trend-bar{
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
    width: calc(100% + 80px);
    height: 50px;
    margin-left: -40px;

    &__progress{
        position: absolute;
        top: 0;
        height: 100%;
        opacity: 0.8;

        &--like{
            background-color: var(--primary);
            left: 0;
        }

        &--dislike{
            background-color: var(--secondary);
            right: 0;
        }
    }

    &__data{
        display: flex;
        position: relative;
        align-self: center;
        z-index: 2;
        padding: 0 10px;
        color: var(--light);
        font-weight: 300;
        font-size: 1.875rem;

        img{
            width: 30px;
            vertical-align: -6px;
        }

        &--like{
            img{
                margin-right: 10px;
            }
        }

        &--dislike{
            img{
                margin-left: 10px;
                order: 2;
            }
        }
    }
}