.voting-box{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    align-items: center;
    position: relative;
    z-index: 2;

    &__option{
        width: 30px;
        height: 30px;
        margin-right: 10px;
        box-sizing: initial;
        cursor: pointer;
        background-position: center center;
        background-size: 20px auto;
        background-repeat: no-repeat;

        &--like{
            background-color: var(--primary);
            background-image: url('../../../../assets/images/icon-like.png');
        }

        &--dislike{
            background-color: var(--secondary);
            background-image: url('../../../../assets/images/icon-dislike.png');
        }

        &--active{
            border: 2px solid var(--light);
        }
    }

    &__button{
        font-weight: normal;
        font-size: 0.875rem;
        color: var(--light);
        border: 1px solid var(--light);
        padding: 0px 20px 0;
        height: 35px;
        background-color: rgba(0,0,0, 0.1);
        cursor: pointer;
    }
}