@font-face {
    font-family: 'Lato';
    src: url('../assets/fonts/Lato-Regular.eot');
    src: url('../assets/fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Lato-Regular.woff2') format('woff2'),
        url('../assets/fonts/Lato-Regular.woff') format('woff'),
        url('../assets/fonts/Lato-Regular.ttf') format('truetype'),
        url('../assets/fonts/Lato-Regular.svg#Lato-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../assets/fonts/Lato-Bold.eot');
    src: url('../assets/fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Lato-Bold.woff2') format('woff2'),
        url('../assets/fonts/Lato-Bold.woff') format('woff'),
        url('../assets/fonts/Lato-Bold.ttf') format('truetype'),
        url('../assets/fonts/Lato-Bold.svg#Lato-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../assets/fonts/Lato-Light.eot');
    src: url('../assets/fonts/Lato-Light.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Lato-Light.woff2') format('woff2'),
        url('../assets/fonts/Lato-Light.woff') format('woff'),
        url('../assets/fonts/Lato-Light.ttf') format('truetype'),
        url('../assets/fonts/Lato-Light.svg#Lato-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}


