.main-footer{
    width: 100%;
    margin-top: 40px;

    .fluid-container{
        display: flex;
        flex-direction: row;
        padding: 30px 16px;
        position: relative;

        &:before{
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 2px;
            background: url('../../../assets/images/border-dotted.png') center center repeat-x;
            
        }

        @media (max-width: 768px){
            flex-direction: column;
        }
    }
}

.main-footer-links{
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    width: 100%;
    list-style: none;

    @media (max-width: 768px){
        justify-content: center;
        margin-bottom: 30px;
    }

    &__link{
        color: var(--dark);
        font-size: 0.75rem;
        font-weight: 300;
        text-decoration: none;
        margin-right: 25px;

        &:hover{
            text-decoration: underline;
        }
    }
}

.main-footer-networks{
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    list-style: none;

    @media (max-width: 768px){
        justify-content: center;
        margin-bottom: 20px;
    }

    &__title{
        color: var(--dark);
        font-size: 0.75rem;
        font-weight: 300;
        margin-right: 19px;
        white-space: nowrap;
        align-self: center;
    }

    &__link{
        color: var(--dark);
        font-size: 0.75rem;
        font-weight: 300;
        text-decoration: none;
        margin-right: 19px;
        align-self: center;

        &:last-child{
            margin-right: 0;
        }

        img{
            width: 25px;
            max-height: 25px;
        }
    }
}