.main-navbar{
    width: 100%;
    padding: 45px 0;
    background: rgb(51,51,51);
    background: linear-gradient(180deg, rgba(51,51,51,1) 0%, rgba(51,51,51,1) 53%, rgba(238,66,66,0) 100%, rgba(18,30,108,1) 333333%);

    .fluid-container{
        display: flex;
        flex-direction: row;

        @media (max-width: 768px){
            flex-wrap: wrap;
        }
    }

    &__title{
        color: var(--light);
        font-size: 2rem;
        width: 100%;
        margin: 0;
        @media (max-width: 768px){
            margin-bottom: 20px;
        }
    }

    &__list{
        display: flex;
        flex-direction: row;
        width: 100%;
        padding: 0;
        margin: 0;
        list-style: none;
        justify-content: space-between;
        align-items: center;
        font-weight: 300;

        @media (max-width: 768px){
            width: 100%;
        }
    }

    &__item{
        color: var(--light);
        font-size: 1rem;
        text-align: center;
        text-decoration: none;

        &:hover{
            text-decoration: underline;
        }
    }
}