@import "./theme/main";

html, body{
    margin: 0;
    border: 0;
    overflow-x: hidden;
    font-size: 16px;

    @media (max-width: 768px){
        font-size: 14px;
    }
}

body *{
    box-sizing: border-box;
}

#root{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}

.fluid-container{
    max-width: 1025px;
    width: 100%;
    margin: auto;

    @media (max-width: 1025px){
        padding-left: 16px;
        padding-right: 16px;
    }
}