.main-header{
    display: flex;
    flex-direction: column;
    background: url('../../../assets/images/pope.png') top center no-repeat;
    background-size: cover;
    min-height: 740px;

    @media (max-width: 768px){
        min-height: unset;
    }
}

.closing-data{
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: rgba(112, 112, 112, 0.25);
    height: 50px;
    align-content: center;
    margin-top: auto;

    &__title{
        width: 35%;
        text-align: right;
        margin-right: 10px;
        color: var(--light);
        font-size: 0.813rem;
        text-transform: uppercase;
        align-self: center;
    }

    &__days{
        width: 65%;
        text-align: left;
        padding-left: 15px;
        color: var(--dark);
        font-size: 2.25rem;
        font-weight: 300;
        position: relative;
        overflow: hidden;
        align-self: center;
        height: 100%;
        display: flex;

        &:before {
            position: absolute;
            top: 18px;
            left: -13px;
            content: "";
            height: 15px;
            width: 15px;
            background: transparent;
            -webkit-transform-origin: 0% 100%;
            -moz-transform-origin: 0% 100%;
            -ms-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
            -webkit-transform: translateY(-50%) rotate(45deg);
            -moz-transform: translateY(-50%) rotate(45deg);
            -ms-transform: translateY(-50%) rotate(45deg);
            transform: translateY(-50%) rotate(45deg);
            box-shadow: 0 0 0 5000px rgba(255, 255, 255, 0.6);
        }

        p{
            margin: 0;
            position: relative;
            z-index: 1;
            align-self: center;
        }

        span{
            font-weight: normal;
            align-self: center;
        }
    }
}