.main-info{
    width: 51%;
    min-height: 450px;
    margin-top: 40px;
    margin-bottom: 70px;

    @media (max-width: 768px){
        width: 100%;
        margin-top: 0px;
        margin-bottom: 40px;
        min-height: unset;
    }
    
    &__overlay{
        background-color: rgba(51,51,51, 0.4);
        -webkit-backdrop-filter: blur(25px);
        backdrop-filter: blur(25px);
        padding: 40px 30px 30px;

        @media (max-width: 768px){
            padding: 20px 16px;
        }
    }
    
    &__question{
        font-size: 1rem;
        color: var(--light);
        font-weight: 300;
        margin: 0;
    }

    &__person-name{
        font-size: 3.75rem;
        line-height: 3.75rem;
        color: var(--light);
        margin-top: 0px;
        margin-bottom: 30px;
        font-weight: normal;
    }

    &__person-description{
        font-size: 1.313rem;
        color: var(--light);
        font-weight: 300;
        margin-top: 0;
        margin-bottom: 25px;
    }

    &__more-information{
        display: inline-block;
        font-size: 0.875rem;
        font-weight: 300;
        margin-top: 0;
        margin-bottom: 40px;

        a{
            color: var(--light);
        }
    }

    &__person-action{
        font-size: 1.25rem;
        color: var(--light);
        font-weight: 600;
        margin: 0;
    }
}

.content-icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin-top: -1px;

    &__icon{
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: center;
        align-content: center;
        cursor: pointer;
        
        &--like{
            position: relative;
            &:before{
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background-color: var(--primary);
                opacity: 0.85;
            }
        }

        &--dislike{
            position: relative;
            &:before{
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background-color: var(--secondary);
                opacity: 0.85;
            }
        }
    }

    &__image{
        width: 38px;
        height: 38px;
        align-self: center;
        position: relative;
        z-index: 1;
    }
}   